@import url('https://use.typekit.net/qmq0znp.css');
body,
html {
  height: 100%;
  width: 100%;
  font-family: freight-sans-pro, proxima-nova, sans-serif;
  background: rgb(237, 235, 235, 100%);
}

*,
*::before,
*::after {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0.4, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0.4, 1);
}

.ui-app {
  margin: 0 auto;
  width: 50rem;
  max-width: 90vw;
  height: calc(100vh - 10rem);
}

.ui-item {
  object-fit: contain;
  object-position: top;
  height: 15rem;
  -webkit-animation: item 0.5s calc(var(--i, 0) * 0.05s) cubic-bezier(0.5, 0, 0.2, 1) both;
  animation: item 0.5s calc(var(--i, 0) * 0.05s) cubic-bezier(0.5, 0, 0.2, 1) both;
}

.ui-items:hover .ui-item {
  opacity: 0.6;
}

.ui-items:hover .ui-item:hover {
  opacity: 1;
}

@keyframes item {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}